body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.app{
    background: #ffffff;
    padding: 25px;
    border-radius: 16px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.app h1{
    text-align: center;
    font-weight: 600;
    color: #333;
}

.task-form{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.task-form input{
    padding: 12px;
    flex: 1;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.task-form input:focus{
   border-color: #667eea;
}

.task-form button{
    padding: 12px 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #667eea;
    color: white;
    font-weight: 500;
}

.task-form button:hover {
  background: #5a67d8;
}


.filters{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.filters button{
    flex: 1;
    margin: 0 4px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: #e2e2e2;
    font-size: 13px;
}

.filters button:hover {
  background: #a1a0a0;
  transition: 0.5s ease;
}

.filters button.active {
  background: #667eea;
  color: white;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 8px;
}

.task-item:hover {
  background: #eef1ff;
}

.task-item span{
    font-size: 14px;
    cursor: pointer;
}

.task-item.completed span{
    text-decoration: line-through;
    color: grey;
}

.actions button{
    margin-left: 6px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    font-size: 12px;
}

.actions button:first-child {
  background: #ffd166;
}

.actions button:first-child:hover {
  background: #ffb703;
}

.actions button:last-child {
  background: #ef476f;
  color: white;
}

.actions button:last-child:hover {
  background: #d90429;
}

.search-bar {
  margin-bottom: 15px;
}

.search-bar input {
  width: 76%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  transition: 0.2s ease;
}

.search-bar input:focus {
  border-color: #667eea;
}